#include <windows.h>

#include "resource.h"
#include "app.h"

LANGUAGE LANG_ENGLISH, SUBLANG_DEFAULT

//
// Icon resources
//
IDI_MAIN		ICON		"res\\100.ico"

//
// Manifest resource
//
1			RT_MANIFEST		"res\\manifest.xml"

//
// Version Information resources
//
1 VERSIONINFO
FILEVERSION		APP_VERSION_RES
PRODUCTVERSION	APP_VERSION_RES
FILEOS			VOS__WINDOWS32
FILETYPE		VFT_APP
FILESUBTYPE		VFT2_UNKNOWN
FILEFLAGSMASK	0x00000000
FILEFLAGS		VS_FF_PATCHED | VS_FF_PRERELEASE
{
	BLOCK "StringFileInfo"
	{
		BLOCK "040904E4"
		{
			VALUE "Comments", APP_COMMENT
			VALUE "CompanyName", APP_AUTHOR
			VALUE "FileDescription", APP_NAME
			VALUE "FileVersion", APP_VERSION
			VALUE "InternalName", APP_NAME_SHORT
			VALUE "LegalCopyright", APP_COPYRIGHT
			VALUE "OriginalFilename", APP_NAME_SHORT ".exe"
			VALUE "ProductName", APP_NAME
			VALUE "ProductVersion", APP_VERSION
		}
	}
	BLOCK "VarFileInfo"
	{
		VALUE "Translation", 0x0409, 1252
	}
}

//
// String Table
//
STRINGTABLE
{
    IDS_UPDATE_INSTALL       "Update available. Do you want to install it now?"
    IDS_UPDATE_DONE          "Downloading update finished."
    IDS_UPDATE_ERROR         "Update server connection error."
    IDS_UPDATE_YES           "Update available. Download and install now?"
    IDS_UPDATE_NO            "No updates available."
    IDS_UPDATE_INIT          "Checking for new releases..."
    IDS_UPDATE_DOWNLOAD      "Downloading update..."
    IDS_UPDATE_AUTOINSTALL   "Automatically install non-executable updates"
    IDS_ABOUT                "About"
    IDS_DONATE               "Donate!"
    IDS_QUESTION_FLAG_CHK    "Do not ask again"
    IDS_SETTINGS             "Settings"
    IDS_RESET                "Reset"
    IDS_CLOSE                "Close"
}
